/////Dropdown
div.pepfeed-dropdown {
    position:relative;
    display:inline-block;
}

iframe.pepfeed-dropdown {
    position:absolute;
    top:0x;
    display: block;
}


.pepfeed-button-class {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    vertical-align:bottom;
    display: inline-block;
}

.pepfeed-button-class:hover {
    background: #3cb0fd;
    text-decoration: none;
}


